In [3]:
import pandas as pd
df = pd.read_csv(r'C:\Users\mehdi\data301\course-project-solo_506-1\data\raw\Data.csv',sep=',',low_memory=False)

In [7]:
df.head(2)

,cps19_StartDate,cps19_EndDate,cps19_ResponseId,cps19_consent,cps19_citizenship,cps19_yob,cps19_yob_2001_age,cps19_gender,cps19_province,cps19_education,...,pes19_lived,pes19_follow_pol,pes19_lang,pes19_lang_70_TEXT,pes19_lang_84_TEXT,pes19_occ_text,pes19_occ_cat,pes19_occ_cat_28_TEXT,pes19_employment,pes19_employment_12_TEXT
0,13sep2019 08:09:44,13sep2019 08:36:19,R_1OpYXEFGzHRUpjM,1,4,70,NaN,2,24,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,13sep2019 08:39:09,13sep2019 08:57:06,R_2qdrL3J618rxYW0,1,4,79,NaN,2,24,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.shape

(37822, 471)

In [10]:
df.describe()

,cps19_consent,cps19_citizenship,cps19_yob,cps19_yob_2001_age,cps19_gender,cps19_province,cps19_education,cps19_pos_carbon,cps19_pos_energy,cps19_pos_envreg,...,pes19_yob,pes19_month_of_birth,pes19_service_freq,pes19_parents_born,pes19_rural_urban,pes19_lived,pes19_follow_pol,pes19_lang,pes19_occ_cat,pes19_employment
count,37822.0,37822.000000,37822.000000,293.0,37822.000000,37822.000000,37822.000000,12549.000000,12645.000000,12617.000000,...,10340.000000,10340.000000,10340.000000,10340.000000,10340.000000,10340.000000,10340.000000,10328.000000,1233.000000,491.000000
mean,1.0,4.035482,51.308709,2.0,1.596531,20.301015,7.411665,3.187346,3.447608,3.458033,...,45.580077,6.431141,2.383462,4.638878,3.788298,3.594197,2.313733,68.508230,23.019465,3.152749
std,0.0,0.184997,16.611707,0.0,0.506040,3.757882,1.936421,1.555440,1.393383,1.303014,...,15.600644,3.403684,1.829585,0.493851,1.378457,0.753446,2.427999,2.051702,4.362392,2.030152
min,1.0,4.000000,1.000000,2.0,1.000000,14.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,68.000000,18.000000,1.000000
25%,1.0,4.000000,38.000000,2.0,1.000000,16.000000,6.000000,2.000000,2.000000,2.000000,...,34.000000,4.000000,1.000000,4.000000,3.000000,3.000000,2.000000,68.000000,19.000000,1.000000
50%,1.0,4.000000,51.000000,2.0,2.000000,22.000000,7.000000,3.000000,4.000000,4.000000,...,43.000000,6.000000,2.000000,5.000000,4.000000,4.000000,2.000000,68.000000,21.000000,4.000000
75%,1.0,4.000000,65.000000,2.0,2.000000,24.000000,9.000000,5.000000,5.000000,4.000000,...,58.000000,9.000000,3.000000,5.000000,5.000000,4.000000,3.000000,68.000000,28.000000,4.000000
max,1.0,5.000000,82.000000,2.0,3.000000,26.000000,12.000000,6.000000,6.000000,6.000000,...,82.000000,13.000000,7.000000,6.000000,6.000000,5.000000,69.000000,85.000000,29.000000,13.000000